<nav class="side-nav flex flex-col h-full gap-13">
  <p-panelmenu [model]="sideMenuItems()" class="side-nav-panel-menu" [multiple]="false" />

  <p-button
    type="button"
    severity="primary"
    styleClass="full-width"
    [label]="'_Layout.sideNav.newTask' | translate"
    (onClick)="showAddEditTaskFormDialog = true"
    icon="pi pi-plus"
  ></p-button>
</nav>

<p-dialog
  [header]="'_Shared.tasks.addTask' | translate"
  [modal]="true"
  [(visible)]="showAddEditTaskFormDialog"
  [breakpoints]="{ '1199px': '75vw', '35.93rem': '90vw' }"
  [style]="{ width: '35rem' }"
  [draggable]="false"
  [resizable]="false"
>
  <task-manager-add-edit-task-form
    #addEditTaskForm
    (onCancel)="showAddEditTaskFormDialog = false"
  />
  <ng-template #footer>
    <div class="flex flex-row gap-6 form-actions">
      <p-button
        type="submit"
        severity="primary"
        [label]="'_General.save' | translate"
        [disabled]="addEditTaskForm.formGroup.invalid"
        (onClick)="submit()"
      ></p-button>
      <p-button
        type="button"
        severity="secondary"
        [label]="'_General.cancel' | translate"
        (click)="showAddEditTaskFormDialog = false"
        styleClass="cancel"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
