@use "mixins" as *;
@use "variables" as *;

p-button {
    .p-button {
        font-size: .8125rem;
        direction: ltr;
        white-space: nowrap;
        gap: 0.5rem;
        height: 2rem;

        &.p-button-primary {
            width: 7.3913rem;
            background-color: $primary-color;

            &:hover {
                background-color: var(--brand-lighter);
                color: var(--brand-base);
            }

            &:disabled {
                background: var(--bg-weak-100);
                color: var(--text-disabled-300);
                border-color: var(--text-disabled-300);
            }

            // for add button 
            @media screen and (max-width: 768px) {
                .pi.pi-plus.p-button-icon {
                    padding: 0.4rem 0.2rem;

                    &+span {
                        display: none;
                    }
                }
            }
        }

        &.p-button-secondary {
            box-shadow: 0px 1px 2px 0px rgba(82, 88, 102, 0.06);

            &:disabled {
                background: var(--bg-weak-100);
                color: var(--text-disabled-300);
                border-color: var(--text-disabled-300);
            }
        }

        &.p-button-danger {
            box-shadow: 0px 1px 2px 0px rgba(233, 53, 53, 0.08);

            &:disabled {
                background: var(--bg-weak-100);
                color: var(--text-disabled-300);
                border-color: var(--text-disabled-300);
            }

            .hollat {
                background-color: var(--text-white-0);
            }
        }

        &.p-button-info {
            box-shadow: 0px 1px 2px 0px rgba(55, 93, 251, 0.08);

            &:disabled {
                background: var(--bg-weak-100);
                color: var(--text-disabled-300);
                border-color: var(--text-disabled-300);
            }

            // for add button in lists
            @media screen and (max-width: 768px) {
                .pi.pi-plus.p-button-icon {
                    padding: 0.4rem 0.2rem;

                    &+span {
                        display: none;
                    }
                }
            }
        }

        &.responsive-btn {
            .p-button-label {
                display: none;

                @include respond-to-2Xlarge() {
                    display: block;
                }

                @include respond-to-Xlarge() {
                    display: block;
                }

                @include respond-to-large() {
                    display: block;
                }
            }
        }
    }

    .btn-danger {
        color: var(--colors-red-500);
        background-color: var(--colors-grey-50);
        white-space: nowrap;
        border: none;
        padding: 0.6rem 1.3rem;
        gap: 0.5rem;

        &:hover,
        &:not(:disabled):hover {
            background-color: var(--colors-grey-50);
            color: var(--colors-red-500);
            border: none;
        }
    }
}