@use 'variables' as *;
@use 'mixins' as *;

.p-confirmdialog {
  background-color: $color-white;
  border-radius: 0.5rem;
  padding: 1rem;

  .p-dialog-header {
    display: none;
  }

  .p-confirm-dialog-message {
    margin: 0;
    margin-inline-start: 1rem;
    color: $color-mine-shaft;
  }

  .p-dialog-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    .p-confirmdialog-icon {
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
      &.pi-trash {
        color: $color-persian-red;
      }
    }

    .p-confirmdialog-message {
      font-size: 0.875rem;
      font-weight: 700;
      color: $color-mine-shaft;
    }
  }

  .p-dialog-footer {
    border: 0;
    display: flex;
    justify-content: center;
    padding: 1rem 1.25rem 1.25rem 1.25rem;
    gap: 0.75rem;

    button {
      min-width: 9.25rem;
      border-radius: 0.25rem;

      .p-button-label {
        text-align: center !important;
        font-size: 0.875rem;
        font-weight: 700;
      }
    }
  }
}
