@use 'variables' as *;
@use 'mixins' as *;

.p-tooltip {
  .p-tooltip-text {
    padding: 0.375rem;
    font-size: 0.75rem;
    font-weight: 400;
    color: $color-white;
    box-shadow: 0rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.25);
  }

  &.mobile-tooltip {
    visibility: hidden;

    @include respond-to-Xsmall() {
      visibility: visible;
    }

    @include respond-to-small() {
      visibility: visible;
    }
  }
}
