@use './theme/shared/css3Variables';
@use './theme/shared/variables';
@use './theme/prime-custom-theme';
@use './fonts/font';

/* ===== Global Styles ===== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: var(--basic-font-size);
}

/* width */
::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #d9d9d94d;
  border-radius: 0.5625rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 0.5625rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}

.pi {
  font-family: 'primeicons' !important;
}
