:root {

    /* Neutral greys / whites */
    --color-alto: #E0E0E0;
    --color-boulder: #757575;
    --color-mine-shaft: #363636;
    --color-white: #FFFFFF;
    --color-catskill-white: #eef6f7;

    /* Greens */
    --color-apple: #388E3C;

    /* Blacks */
    --color-Mine-Shaft: #212121;
    --color-black-5: rgba(0, 0, 0, 0.05);

    /* Oranges */
    --color-blaze-orange: #ff6600;
    --color-gold-drop: #F57C00;
    --color-sazerac: #FFF3E0;
    --color-panache: #FFF3E0;

    /* Reds */
    --color-persian-red: #D32F2F;
    --color-lavender-blush: #FFEBEE;

    /* Blues */
    --color-denim: #1976D2;
}