:root {
    --box-shadow-light: 0px 2px 4px 0px #00000014;
    --box-shadow-card: 0px 4px 8px 0px #0000001F;

    --box-shadow-red: 0px 8px 20px 0px #D32F2F4D;
    --box-shadow-blue: 0px 8px 20px 0px #1976D240;
    --box-shadow-orange: 0px 8px 20px 0px #FF6F0040;
    --box-shadow-green: 0px 8px 20px 0px #388E3C40;

}