@font-face {
  font-family: "Inter";
  src: url("Inter_Regular.eot");
  src: url("Inter_Regular.eot?#iefix") format("embedded-opentype"),
    url("Inter_Regular.woff2") format("woff2"),
    url("Inter_Regular.woff") format("woff"),
    url("Inter_Regular.webp") format("webp"),
    url("Inter_Regular.ttf") format("ttf"),
    url("Inter_Regular.otf") format("otf"),
    url("Inter_Regular.eot") format("eot"),
    url("Inter_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
