@use 'variables' as *;

:host {
  display: block;
  flex: 1;

  .status-column {
    background-color: $color-white;
    border-radius: 0.5rem;
    padding: 1rem;
    height: 100%;
    box-shadow: $box-shadow-light;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: .625rem;
      margin-bottom: 1rem;
      border-bottom: .125rem solid $color-alto;
    }

    .title {
      font-size: 0.875rem;
      font-weight: 700;
      color: $color-mine-shaft;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    .count {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 1.75rem;
      height: 1.75rem;
      padding: 0 0.5rem;
      border-radius: 50%;
      background-color: $color-alto;
      color: $color-mine-shaft;
      font-size: 0.75rem;
      font-weight: 600;
    }

    .tasks {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}