@use 'variables' as *;
@use 'mixins' as *;

:host {
  .task-board-tasks-filter {
    background-color: $color-white;
    padding: 1rem;
    box-shadow: $box-shadow-light;
    border-radius: 0.5rem;

    @include respond-to-Xsmall() {
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
    }

    @include respond-to-small() {
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }

    .task-board-select-button {
        @include respond-to-Xsmall() {
          flex-direction: column;
        }

        @include respond-to-small() {
          flex-direction: column;
        }
      ::ng-deep {
        .p-togglebutton {
          background-color: transparent !important;
          padding: 0;
          border: none;


          .p-togglebutton-label {
            font-size: 0.8313rem;
            color: $color-mine-shaft !important;
          }

          .p-togglebutton-content {
            padding: 0.5rem 1rem;
          }

          &.p-togglebutton-checked {
            .p-togglebutton-label {
              font-weight: 400;
              color: $color-white !important;
            }

            .p-togglebutton-content {
              background-color: $primary-color !important;
            }
          }
        }
      }
    }
  }
}
