@use 'variables' as *;

:host {
    .statistic-card {
        height: 11rem;
        padding: 1.5rem;
        box-shadow: $box-shadow-default;
        border-radius: 0.5rem;

        ::ng-deep {
            .p-card-body {
                height: 100%;
                padding: 0;

                .p-card-content {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .statistic-title {
                        font-size: .8125rem;
                        font-weight: 400;
                        color: $color-boulder;
                    }

                    .statistic-value {
                        font-size: 1.8rem;
                        font-weight: 700;
                        color: $color-mine-shaft;
                    }

                    .statistic-change {
                        font-size: .7063rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }


    .statistic-positive {
        color: $color-apple;
    }

    .statistic-negative {
        color: $color-persian-red;
    }

    .statistic-neutral {
        color: $color-boulder;
    }
}